@*
    *   * Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license.
    *   * See LICENSE in the project root for license information.
*@
@{
    ViewBag.Title = "NoAccess";
}

<h2>Error - No Access</h2>
<p>You are not allow to view this page.</p>
<hr />
<p>@Html.ActionLink("Return to home", "Index", "Home", null, new { @class = "btn btn-default" })</p>